html{
    background-color: #E5E5E5;
}

.topbar{
    display: flex;
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index:9999;
    
    background-color: #333333;
}

.logo1{
    position: relative;
    height: 30%;
    left: 35%;
    top: 20px;
}

.boxgeneral{
    position: absolute;
    width: 650px;
    height: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FECB32;
    border-radius: 20px;
}

.textgeneral{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 48px;
    font-size: 30px;
    padding-top: 10px;

    color: #000000;
}

.button1{
    position: absolute;
    width: 400px;
    height: 60px;
    left: 19%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    color: white;
    text-decoration:none;
    text-align: center;
    font-size: 20px;

    
    background: #000000;
    border-radius: 20px;
}

.br1{
    display: block;
    content: "";
    border-bottom: 80px solid transparent;
}

.forms1{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 19%;
    top: 46%;
    outline: black;

    font-size: 20px;

    background: #E5E5E5;
    border-radius: 20px;
}

.submit1{
    position: relative;
    width: 250px;
    height: 50px;
    left: 31%;
    top: 8%;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
 
    line-height: 48px;
    font-size: 20px;


    background: #000000;
    border-radius: 20px;
}

.sidedesign{
    position:absolute;
    background-color: #C4C4C4;
    height: 100%;
    width: 60px;
}

#table1 th,td,tr{
    width: 20%;
    text-align:left;
    font-weight: normal;
}

#table1 th{
    background-color: #C4C4C4;
    font-weight: bold;
}

#table1 tr{
    background-color: #E5E5E5;
}